html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-size: 100%;
	vertical-align: baseline
}
html {
	line-height: 1
}
ol, ul {
	list-style: none
}
table {
	border-collapse: collapse;
	border-spacing: 0
}
caption, th, td {
	text-align: left;
	font-weight: normal;
	vertical-align: middle
}
q, blockquote {
	quotes: none
}
q:before, q:after, blockquote:before, blockquote:after {
	content: "";
	content: none
}
a img {
	border: none
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
html {
	-webkit-tap-highlight-color: transparent;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	height: 100%
}
body {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}
body, button, input, select, textarea {
	font: 12px/1.5 tahoma, arial, 'Hiragino Sans GB', \5FAE\8F6F\96C5\9ED1, \5b8b\4f53, sans-serif;
	color: #666
}
b, strong {
	font-weight: bold
}
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
	display: block
}
audio, canvas, progress, video {
	display: inline-block;
	vertical-align: baseline
}
audio:not([controls]) {
	display: none;
	height: 0
}
[hidden], template {
	display: none
}
h1, h2, h3, h4, h5, h6, input, i, b, em {
	font-weight: normal
}
ul, ol {
	list-style: none
}
a {
	cursor: pointer;
	text-decoration: none;
	outline: none;
	background-color: transparent;
	color: #666
}
a:active, a:hover {
	outline: none
}
a:focus {
	outline: none;
	-moz-outline: none
}
h2, h3 {
	page-break-after: avoid
}
button, input, optgroup, select, textarea {
	color: inherit;
	font: inherit;
	margin: 0
}
button {
	overflow: visible
}
button, select {
	text-transform: none
}
button::-moz-focus-inner, input::-moz-focus-inner {
	padding: 0;
	border: 0
}
button, input, select, textarea {
	font-size: 100%
}
button, html input[type=button], input[type=reset], input[type=submit] {
	-webkit-appearance: button;
	cursor: pointer
}
fieldset, img {
	border: none;
	max-width: 100% !important;
	-ms-interpolation-mode: bicubic;
	page-break-inside: avoid
}
svg:not(:root) {
	overflow: hidden
}
input, img, select {
	vertical-align: middle
}
input {
	line-height: normal
}
input[type="checkbox"], input[type="radio"] {
	box-sizing: border-box;
	padding: 0
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
	height: auto
}
input[type="search"] {
	-webkit-appearance: none;
	box-sizing: content-box
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none
}
textarea {
	overflow: auto;
	resize: none
}
table {
	border-spacing: 0;
	border-collapse: collapse;
	background-color: transparent
}
@-ms-viewport {
	width: device-width
}
.clearfix {
	*zoom: 1
}
.clearfix:after, .clearfix:before {
	display: table;
	content: " ";
	clear: both
}
.center-block {
	display: block;
	margin-right: auto;
	margin-left: auto
}
.text-center {
	text-align: center
}
.text-left {
	text-align: left
}
.text-right {
	text-align: right
}
.ellipsis {
	white-space: nowrap;
	overflow: hidden;
	-ms-text-overflow: ellipsis;
	-o-text-overflow: ellipsis;
	text-overflow: ellipsis
}
.break {
	word-break: break-all;
	word-wrap: break-word
}
.inline-block {
	display: inline-block
}
.inline {
	display: inline
}
.pull-right {
	float: right;
	display: inline
}
.pull-left {
	float: left;
	display: inline
}
.hide {
	display: none !important
}
.show {
	display: block !important
}
.tab .subnav li {
	text-align: center
}
.footer, .header {
	width: 100%
}
.nav {
	overflow: hidden;
	*zoom: 1;
	width: 1000px;
	height: 100%
}
.nav .logo {
	cursor: pointer;
	width: 482px;
	height: 52px;
	margin-top: 14px;
	background-image: url('../images/logo.png?1457579598');
	background-repeat: no-repeat
}
.tab .login {
	text-align: right
}
.tab .login li {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	width: 40px;
	line-height: 38px
}
.tab .login li a {
	color: #fff
}
.tab .subnav li {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	width: 136px;
	line-height: 38px;
	background-color: #006729;
	color: #fff;
	font-size: 14px;
	font-weight: 700;
	margin-left: 4px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-top-left-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-top-right-radius: 5px
}
.tab .subnav li.current, .tab .subnav li:hover {
	background-color: #fff;
	color: #006729
}
.foot {
	width: 1000px;
	overflow: hidden;
	*zoom: 1
}
.header {
	overflow: hidden;
	*zoom: 1;
	background-color: #009b3d;
	height: 74px
}
.footer {
	height: 66px;
	margin-top: 50px;
	background-color: #363636
}
.footer .text {
	color: #fff;
	line-height: 66px
}
.footer .text span {
	cursor: pointer
}
.footer .text span.mr {
	margin-right: 26px
}
.btlogo {
	cursor: pointer;
	width: 136px;
	height: 52px;
	margin-top: 14px;
	background-image: url('../images/btlogo.png?1457594994');
	background-repeat: no-repeat
}
.cont-nav {
	width: 1000px;
	margin: 0 auto;
	margin-top: 36px;
	border-bottom: 2px solid #009b3d;
	height: 30px
}
.cont-left ul li {
	margin-right: 2px;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	background: #c8c8c8;
	width: 92px;
	height: 30px;
	color: #333;
	text-align: center;
	line-height: 30px;
	-moz-border-radius-topleft: 3px;
	-webkit-border-top-left-radius: 3px;
	border-top-left-radius: 3px;
	-moz-border-radius-topright: 3px;
	-webkit-border-top-right-radius: 3px;
	border-top-right-radius: 3px;
	font-size: 14px
}
.cont-left ul li.crop {
	background: #009b3d;
	color: #fff
}
.cont-left ul li:hover {
	background: #009b3d;
	color: #fff
}
.cont-right {
	margin-top: 4px
}
.cont-right label {
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline;
	line-height: 28px
}
.cont-right select {
	padding: 2px;
	width: 80px;
	border: 1px solid #bcbcbc;
	font-size: 12px;
	color: #333;
	display: inline-block;
	vertical-align: middle;
	*vertical-align: auto;
	*zoom: 1;
	*display: inline
}
.cont-right select.big {
	width: 110px
}
.btn {
	background-color: #009b3d;
	border: none;
	color: #fff;
	width: 40px;
	height: 25px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px
}
